%h1 woot

%form{ :action => '/', :method => 'post'}
  %input{:type => 'text', :name => 'username' }
  %input{:type => 'password', :name => 'password' }
  %input{:type => 'submit', :value => 'Generate calendar'}

-if @username && @password
  %a{:href => "/calendar.ical?username=#{@username}&password=#{@password}"}
    show calendar